name: Build and Push

on:
  push:
    tags:
      - v**

jobs:
  docker-build:
    name: Building container image
    runs-on: ubuntu-latest
    steps:
      - name: Clone the code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.REGISTRY_USERNAME }}
          password: ${{ secrets.REGISTRY_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          platforms: linux/arm64,linux/amd64,linux/s390x,linux/ppc64le
          context: .
          push: true
          tags: c0deltin/replik8or:${{ github.ref_name }},c0deltin/replik8or:latest
